.Button {
  border-radius: 2px;
  border: 1px solid #767676;
  background: #efefef;
  min-width: 76px;
  height: 21px;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.Button:hover {
  background-color: #b9bbb9;
}
.Button:active {
  background-color: #969c9b;
  box-shadow: 0 1px #cccaca;
  transform: translateY(1px);
}
