.Commentlist {
  padding: 50px 40px 0 40px;
}

.Commentlist-header {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.Commentlist-item {
  margin-bottom: 30px;
}
.Commentlist-item:last-child {
  margin-bottom: 0;
  padding-bottom: 30px;
}
