/* Контрол с общими действиями */
.BasketTool {
  padding: 20px;
  font-size: 18px;
}

.BasketTool-cart {
  display: flex;
  align-items: center;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
.BasketTool-link {
  color: #0087e9;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
}
.BasketTool-btn {
  min-width: 75px;
  min-height: 21px;
}
