.ModalLayout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.ModalLayout-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  min-width: 960px;
  background-color: #fff;
  box-sizing: border-box;
}

.Visible {
  display: block;
  transition: all 3s ease;
  opacity: 1;
}

.Unvisible {
  display: none;
  transition: all 3s ease;
  opacity: 0;
}
