.ModalLayout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.ModalLayout-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  min-width: 960px;
  max-height: 700px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: auto;
}

.Visible {
  display: block;
}

.Unvisible {
  display: none;
}
